<form (ngSubmit)="signin()">
    <div class='form'>
        <div>
            <label>Username:</label>
            <input type="text" [(ngModel)]="user.studentNumber" name="username">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" [(ngModel)]="user.password" name="password">
        </div>
        <br/>
        <div>
            <input class="button button-block" type="submit" value="Sign In">
        </div>

        <span>{{errorMessage}}</span>
    </div>
</form>