<div class="form">
    <h2>List of all Students</h2>
    <table width=100%>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Student Number</th>
        <th>Program</th>
        <th>Email</th>
        <tr *ngFor="let student of students">
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.studentNumber }}</td>
            <td>{{ student.program }}</td>
            <td>{{ student.email }}</td>
        </tr>
    </table>
    <a [routerLink]="['/home']">Go Home</a><br><br>
    <label>{{errorMessage}}</label>
</div>